.activities-grid {
    max-width: 1800px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    /* #ffd9e3(166, 224, 255); */
  }
  @media (min-width: 1200px) {
    .activities-grid { grid-template-columns: repeat(4, 1fr); }
  }


  @media (min-width: 900px) {
    .activities-grid { grid-template-columns: repeat(3, 1fr); }
  }

  @media (min-width: 600px) {
    .activities-grid { grid-template-columns: repeat(2, 1fr); }
  }