.login-form{
    padding-top:50px;
}

form .title {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form span {
    margin-right: 10px;
}

form button {
    margin-top: 10px;
}
body{
    background-color: black;
}
.login-button-container{
    margin: 1rem 0 2rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form-input-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    width: 100%;
}
.welcome-text{
    margin: 3rem 0 2rem 0;
}
/* background-color: #f2ed01;
  color:#f7a9e3; */
.login-page-button{
    background: linear-gradient(to right, #f2ee018d 0%, #f2ed01 79%);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    width: 65%;
    height: 3rem;
    border: none;
    color: black;
    border-radius: 2rem;
    cursor: pointer;
}
.login-page-button:hover{
    background: black;
    color: #f7a9e3;
}
.login-input{
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 2rem;
    width: 80%;
    height: 3rem;
    padding: 1rem;
    border: none;
    outline: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}
.login-input:focus{
        display: inline-block;
        box-shadow: 0 0 0 0.2rem #514b6399;
        backdrop-filter: blur(12rem);
        border-radius: 2rem;
}
.login-input::placeholder{
    color: #514b6399;
      font-weight: 100;
      font-size: 1rem;
}