.profile{
    padding-top: 200px;
    height: 100%;
    background-color: black;
    color: black;
}
.map{
    padding-top: 100px;
}
.match-grid{
    padding-top: 400px;
}
.matches{
    padding-top: 200px;
}
.profile-view-form{
    padding-bottom: 100px;
}
.profile-view {
    margin-top: 10px;
}

.profileDisplay{
    background-color: aqua;
}
.profile-creation{
    background: black;
    color: black;
}
.display-map{
    padding-top: 50px;
}
