/* profile-input{
    padding-bottom: 200px;
} */
.profile{
    background-color: black;
    color: black;
}
.map{
    padding-top: 100px;
}
.match-grid{
    padding-top: 400px;
}
.matches{
    padding-top: 200px;
}
.ProfileView {
    margin-top: 10px;
}

.profileDisplay{
    background-color: aqua;
}
.profile-creation{
    background: black;
    color: black;
}
.display-map{
    padding-top: 50px;
}
